<a href="https://colab.research.google.com/github/Nikitatamotia/Winter-Project-/blob/main/Copy_of_User_defined_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User-defined functions

---
During this course, you have already been writing user-defined functions.  We have introduced these early so that they become second nature to use.  Python is a 'scripting' language, which means that you can just write a list of instructions and click run and it will just run them from first to last.

Many other programming languages, including C, C++ and Java, have a structure where you must group instructions into a named set (like a function) before you can run them.  It will be easier to learn new languages later if you have an understanding of the organisation of code into functions.

## Definition

A function is a set of programming instructions, grouped together and named so that, in essence, they form a new instruction that can be use in other functions.

A function should:
*   do *one* particular thing (e.g. generate one new piece of data)
*   have a *name* that indicates what it does, that name should contain a verb (e.g. get_username(), calculate_sum() )
*   accept a number of data items as *parameters* in its brackets
*   *return* the one new piece of data it produces or None if no new data is produced.

---
## Examples
Run the code for each to see what it does.

In [20]:
def get_username():
  username = input("Enter your username:")
  return username

  username = get_username()
  print(username)

---

In [13]:
def calculate_sum(num1, num2):
  sum = num1 + num2
  return sum

total = calculate_sum(4, 7)
print(total)

11

---

In [16]:
def show_score(score):
  print("Your current score is: ", score)

show_score(50)

Your current score is:  50

---
## Passing data to functions

Data is passed to a function through its brackets.  The brackets contain the parameter list.  The list can contain zero or more parameters.

When the function is called, the parameters (either real values or variables holding values) are added to the function call.

In [46]:
def calculate_answer(num1, num2, operator):
  if operator == "+":
     return num1 + num2
  elif operator == "-":
     return num1 - num2
  elif operator == "*":
     return num1 * num2
  elif operator == "/":
     return num1 / num2
  else:
     return -999999

answer = calculate_answer(5,7,"/")
print(answer)

0.7142857142857143

To pass values easily to the function, just add the values in the same order that they are listed in the function definition.  Make sure that the values you pass in are of a type that the function obviously expects.

---
## Global and local variables

Each variable in a Python program has a **scope**.  This determines which parts of the program can 'see' that variable. The advantage of variable scope is that it:
*   can protect variables from being changed elsewhere in the program due to adding a variable with the same name
*   reduces the number of different variable names needed.  If a total in one function is totally unconnected to a total in a different function they can have the same name and only exist while the function each is in is actually running.  This also saves on memory.

In [ ]:
def calculate_sum(num1, num2):
  # add the parameters together and return the total
  total = num1 + num2  # here total is a local variable
  print("Inside the function, local total", total)
  return total

total = 0  # here total is a global variable (declared outside any function)

# call the calculate_sum function, storing the result in the global variable
new_total = calculate_sum(10, 20)
print("Outside the function, global total", total)
print("Outside the function, global new_total, returned from function", new_total)

Inside the function, local total 30
Outside the function, global total 0
Outside the function, global new_total, returned from function 30

---
# Have a go

---
### Exercise 1 - get valid digit

Write a function called **input_digit()** which will:
*  ask the user for a **number** that must be between 0 and 9, if the number is not between 0 and 9 it will keep reading until it gets a valid `number`
*  return the valid `number` to be printed by the caller 

Test input:  
33  
-1  
8  

Expected output:  
That number is not valid, try again  
That number is not valid, try again  
8

In [70]:
def input_digit(x):
      if (x<=0) or (x>=9):
        print ("That number is not valid, try again")
      else:
        return(x)

input_digit(33)
input_digit(-1)
input_digit(8)

That number is not valid, try again
That number is not valid, try again

8

---
### Exercise 2 - input range

Write a function called **input_value(min, max)** which will:  
*  read a **number** that must be between `min` and `max` and only return when it has a valid `number`.  The caller will print the `number`.

Test input:  
min = 3  
max = 24  
1  
45  
20  

Expected output:  
Number is out of range, try again  
Number is out of range, try again  
20

In [93]:
def input_value(min, max):
  X = 45
  if (X < min) or (X > max):
      print ("Number is out of range, try again")
  else:
    return(X)
  
input_value(3,24)

Number is out of range, try again

---
### Exercise 3 - re-using the function

Using the same function as in Exercise 2 above, try running it with these function calls:

```
value1 = input_value(1,10)
value2 = input_value(11,20)
value3 = input_value(21,30)
print(value1, value2, value3)
```

In [108]:
def input_value(min, max):
  X = 20
  if (X < min) or (X > max):
    print ("Number is out of range, try again")
  else:
    print(X)
  
input_value(1,10)
input_value(11,20)
input_value(21,30)

Number is out of range, try again
20
Number is out of range, try again

---
### Exercise 4 - generate random even number

Write a function called **generate_even_number()** that will generate a random, even **number** and return it to the caller, which will print it.

*Hint: the function will need to generate the number, check it is an even number, repeat if not and return the number once it has got an even number*.

In [133]:
 def generate_even_number():
  x= 17
  if x%2==0:
    print(x)
  else:
    print(x+1)

generate_even_number()

18

---
### Exercise 5 - biggest of 3 numbers

Write a function called **check_largest(num1, num2, num3)** which will:  
*  select the largest of `num1`, `num2` and `num3` and store this in a variable called **largest**
*  return `largest` to the caller, where it will be printed. 

Test input:  
check_largest(3,5,8)  
check_largest(5,7,2)  
check_largest(123,45,122)

Expected output:  
8  
7  
123

In [367]:
def check_largest(num1,num2,num3):
 
    if (num1 >= num2) and (num1 >= num3):
        largest = num1
    elif (num2 >= num1) and (num2 >= num3):
        largest = num2
    else:
        largest = num3
    return largest

check_largest(3,5,8)    
check_largest(5,7,2) 
check_largest(123,45,122)

123

---
### Exercise 6 - average of 5 numbers

Write a function calculate_average(num1, num2, num3, num4, num5) which will calculate the average of the 5 numbers given.  

Test input:  
calculate_average(1,2,3,4,5)  
calculate_average(10002, 30004, 5005, 3333333, 12345)  

Expected output:  
3.0  
678137.8

In [161]:
 def calculate_average(num1, num2, num3, num4, num5):
    Average = (num1+num2+num3+num4+num5)/5
    print("Average of total is", Average) 

calculate_average(1, 2, 3, 4, 5)
calculate_average(10002, 30004, 50005, 3333333, 12345)

Average of total is 3.0
Average of total is 687137.8

---
### Exercise 7 - calculate price

Write a function called **calculate_price(product_price, items)** which will:

*  ask the user to enter any **discount** they have (this can be 10% or 25% only), if the discount value is invalid, do not apply a discount   
*  calculate the price of the items, including the discount
*  return the `discounted price`

Test input:  
product_price is 3.50  
number of items is 4  
user enters discount of 10%  

Expected output:  
Discounted price: £ 12.60

Test input:  
product_price is 8.99  
number of items is 10  
user enters discount of 50%   

Expected output:  
Discounted price: £ 89.90

In [183]:
def calculate_price(product_price, items):
      discount = .10
      Total = product_price * items
      Discounted = Total* discount 
      Finalprice= Total-Discounted
      print("Discounted price: £",Finalprice)

calculate_price(3.50, 4)
calculate_price(8.99, 10) 


def calculate_price(product_price, items):
      discount = .50
      Total = product_price * items
      Discounted = Total* discount 
      Finalprice= Total-Discounted
      print("Discounted price: £",Finalprice)

calculate_price(3.50, 4)
calculate_price(8.99, 10)

Discounted price: £ 12.6
Discounted price: £ 80.91000000000001
Discounted price: £ 7.0
Discounted price: £ 44.95

---
### Exercise 8 - reverse a string

 Write a function called **reverse_string(word)** which will:  
 
 *  reverse the letters in the word  
 *  return the **reversed** `word` for printing

[Help if you need it](https://www.w3schools.com/python/python_howto_reverse_string.asp)  

 Test input:  
 tiger  

 Expected output:  
 regit

 Test input:  
 Expected

 Expected output:  
 detcepxE

In [227]:
def reverse_string(word):
  txt = word[::-1]
  print(txt)

reverse_string("Tiger")
reverse_string("Expected")

regiT
detcepxE

---
### Exercise 9 - find factorial

Write a function called **calculate_factorial(num)** which will:

*  if `num` is negative set **factorial** to -1
*  if `num` isn't negative, if it is 0 then set `factorial` to 1
*  if `num` isn't 0 then calculate `factorial` (multiply the numbers from `num` down to 1
*  return `factorial`.   

Test inputs:  
calculate_factorial(5)  
calculate_factorial(-5)  
calculate_factorial(0)    

Expected outputs:  
120  
-1  
1

In [353]:
def calculate_factorial(num):

  if num < 0:
    print(-1)
  elif num == 0:
    print(1)
  else:
    for i in range (1,num-0):
        num = num * i
    print(num)


calculate_factorial(5)
calculate_factorial(-5)
calculate_factorial(0)

120
-1
1

---
### Exercise 10 - palindrome  

Write a function called **is_palindrome(word)** which will return True if the `word` passed in is a palindrome (ie it reads the same in reverse) and False if not.

*Hint:  remember that upper case and lower case letters are not seen as the same by Python, there are [case conversion](https://www.codecademy.com/learn/learn-python-3/modules/learn-python3-strings/cheatsheet) functions you can use to help with this.*

Test input:  
is_palindrome("racecar")  
is_palindrome("Racecar")  
is_palindrome("banana")  

Expected output:  
True  
True  
False

In [318]:
def is_palindrome(word):
  
  if word == word[::-1] :
        return print("True")
  elif word.upper() == word[::-1].upper():
        return print("True")
  else:
        return print("False")
 

is_palindrome("racecar")
is_palindrome("Racecar")
is_palindrome("banana")

True
True
False